
html {
    margin: 0;
    height: 100%;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    background-image: url("../images/bg.jpg"); 
    background-size: cover; 

    width: 100%;

}
.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black; 
    display: flex;
    justify-content: center; 
    align-items: center;
    z-index: 9999;
}

.loader::before {
    content: "";
    display: block; 
    width: 100px; 
    height: 100px; 
    background: url('../images/planet.png') no-repeat center center;
    background-size: cover; 
    animation: spin 20s linear infinite;
}

#btnVolverArriba {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.236);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 15px;
    padding-top: 0%;
    padding-bottom: 1%;
    font-family: 'Poppins', sans-serif;
    border-radius: 50px;
    font-size:50px;
    font-weight: bolder;
    
    
}


.container {
    width: 80%; 
    margin-left: auto;
    margin-right: auto;
   
}


section{
    height: auto;
}

/* Seccion banner */
.banner {
    position: relative;
    height: 100vh;
  }
  .titulo-banner {
    position: absolute;
   
    transform: translateY(10vh); 
    padding-bottom: 0vh;
    width: 75%; 
    font-size: 3rem;
  }
  .button-contact {
    position: absolute;
    transform: translateY(70vh);
    margin-left: 30%; 
    border-radius: 100px;
    width: 300px;
    height: 7vh;
    align-items: center;
    vertical-align: middle;
    font-size: 2rem;
    background-color:rgb(255, 255, 255,0.7);
    
    font-family: 'Poppins', sans-serif;
    
}
/* Seccion nosotros */
#contact{
    background-color:rgba(69, 19, 123, 0.977);
    width: 100%; 
    
    height: auto;   
}
#div-contact{
    width: 80vw;
    height:100%;
}
#second-col {
    color: white; /* Cambia el color de texto de las etiquetas a blanco */
    font: 1.2rem 'Poppins', sans-serif; /* Cambia el tipo de letra y el tamaño */
}
#contact label {
    color: white; /* Cambia el color de texto de las etiquetas a blanco */
    font: 1.5rem 'Poppins', sans-serif; /* Cambia el tipo de letra y el tamaño */
}
#image-aside{
    position: absolute;
    margin-top: 4vh;
    
    right: 0; 
    width: 25%;
   
}
.synergy-text-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left; 
    color: #FFFFFF; 
    margin: 20px; 
}

.synergy-text-container {
    width: 100%;
    padding-bottom: 5vh;
    padding-top: 5vh;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
}

.left-text {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    width: 40%;
}

.right-text {
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    width: 40%;
}
.services-title{font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    color:rgba(146, 45, 255, 0.754);
    text-decoration:overline;
    text-align: center;
    margin-top: 5vh;
    /* border-top: 3px solid rgba(146, 45, 255, 0.754); */
}
.services-img{
    align-items: center;
    margin: auto;
    display: none;
}
.services-round{
    width: 60%;
    margin: auto;
    margin-top: 5vh;
    align-items: center;
}
.services-col{
    width: 60%;
    margin: auto;
    display: none;
}
.about-text-container {
    width: 100%;
    padding-bottom: 2vh;
    color: #FFFFFF; 
    text-align: justify;
    margin: 20px; 
    
}
#about {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el título y el contenedor de texto */
    height: auto;
}

.about-title {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    color: rgba(146, 45, 255, 0.754);
    text-decoration: overline;
    text-align: center;
    margin-bottom: 5vh; /* Espacio entre el título y el contenedor de texto */
}

.about-text-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr; /* Dos columnas de igual tamaño */
    width: 100%; /* Asegúrate de ajustar el ancho según necesites */
}

.grid-item {
    padding: 20px; /* Añade un poco de padding para separación */
}

/* Ajusta la segunda columna para que se extienda por dos filas */
.grid-item.large {
    grid-row: 1 / span 2; /* Ocupa dos filas */
    align-self: start; 
    
}

.first-text, .second-text {
    font-family: 'Poppins', sans-serif;
    text-align: left;
}

/* Ajustes específicos para .first-text y .second-text si son necesarios */
.first-text {
    font-size: 2rem;
}

.second-text {
    font-size: 1.5rem;
}

#symbol{
    font-size: 6rem;
    color: #7B58FA;
    font-family: 'Poppins', sans-serif;
}

#image-sat {
    position: absolute;
    left: 5vw; 
    width: 10vw;
    margin-left: -10vh;
    bottom: 30vh; 
    animation: spin-translate 20s linear infinite;
  }
  
  @keyframes spin-translate {
    from {
      transform: rotate(0deg) translateY(20vw);
    }
    to {
      transform: rotate(360deg) translateY(40vh); 
    }
  }
  
h1{
    color: white;
    font-size: large;
    
}
h2#about{
    color: white;
    font-size: 1.5rem;
    background-color: rgba(74, 52, 241, 0.409);
    border-radius: 15px;
    padding: 2% ;
    margin: 5% ;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.subtitle-banner{
    color: rgb(93, 30, 161);
   
    position: absolute;
   padding-right: 10vw;
   padding-top: 0vh;
   margin-top: 4vh;
   margin-bottom: 4vh;
    transform: translateY(40vh); 
    border-radius: 15px;
    font-size: 4rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.metho-row{
    width: 80%;
    align-items: center;
    margin: auto;
    margin-top: 5vh;
}
.metho-col{
    display: none;
}
.grid-container {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 2.5fr; 
    grid-template-rows: auto auto; 
    grid-template-areas: 
        "advantages-title methodology-title approach-title"
        "advantages-list advantages-list approach-image";
    gap: 20px; 
    color: #FFFFFF; 
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
}

.advantages-title {
    grid-area: advantages-title;
    align-self: self-end;
    font-size: 2rem;
    font-style: bold;
}

.methodology-title {
    grid-area: methodology-title;
    text-align: end;
    font-size: 3rem;
    
}

.approach-title {
    grid-area: approach-title;
}
.approach-image {
    grid-area: approach-image;
    display: flex; 
    justify-content: center;
    align-items: center;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.approach-image img {
    max-width: 60%; 
    max-height: 60%;
    object-fit: contain;
    animation: spin 50s linear infinite;
    
}

.advantages-list {
    grid-area: advantages-list;
    
}

.approach-image {
    grid-area: approach-image;
   
}


.advantages-list ul {
    list-style: none;
    padding: 0; 
}

.advantages-list li {
    margin-bottom: 10px; 
}


footer{
    height: auto;
    padding-bottom: 2vh;
   
}


#icons{
    width: 10vw;
}
#btnBook{
    color: #5D1EA1;
    background-color: white;
    width: 250px;
    height: 50px;
    font-family: 'poppins', sans-serif;
    border-radius: 10px;
    font-size: 1.5rem;
}
.flex-1{
    height: 100%;
}
.flex-1#btnBook{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-1 p{
    font-size: 1rem;
    color: white;
    font-weight: lighter;
    font-family: 'poppins', sans-serif;
}
.flex-1 ul li{
    
    font-size: 1rem;
    color: white;
    font-weight: lighter;
    font-family: 'poppins', sans-serif;
}
#first-col{
    font-size: 2rem;
    color: white;
    font-weight: bold;
    font-family: 'poppins', sans-serif;

}
@media (max-width: 768px) {
    
    h2#about{
        font-size: 1rem;
    }
    .titulo-banner {
        font-size: 3rem; 
        
        top: -5vh;
    }
    
      #image-aside{
        position: absolute;
        margin-top: 4vh;
        
        right: 0; 
        width: 30vw;
       
    }
    .subtitle-banner{
        margin-top: 12vh;
     margin-bottom: 6vh;
        padding-right: 0%;
        font-size: 3rem;
    }
    .metho-row{
        display: none;
    }
    .metho-col{
        display: block;
        margin-top: 10vh;
        width: 50vw;
        margin: auto;
    }  
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "methodology-title"
            "approach-title"
            "advantages-title"
            "advantages-list"
           
            "approach-image";
            font-size: 0.8rem;
    }
    .methodology-title,.advantages-title{
        font-size: 2rem;
    }
    .left-text {
       width: 100%;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
       
    }
    
    .right-text {
       
        font-family: 'Poppins', sans-serif;
        font-size: 0.7rem;
       
    }
    #image-sat{width: 20vw;}
    .navbar ul {
        flex-direction: column;
        gap: 0.5rem;
    }
    
    #contact {
        height: auto;
    }

    #contact h2 {
        font-size: 1.25rem;
    }

    #contact input,
    #contact select,
    #contact textarea,
    #contact button {
        font-size: 0.9rem;
    }

    footer {
        height: auto;
        
    }

    footer a {
        font-size: 0.9rem;
    }
    
}

@media (max-width: 480px) {
    #btnVolverArriba {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 99;
        border: none;
        outline: none;
        background-color: rgba(255, 255, 255, 0.236);
        color: rgb(255, 255, 255);
        cursor: pointer;
        padding: 5px;
        padding-top: 1%;
        padding-bottom: 1%;
        font-family: 'Poppins', sans-serif;
        border-radius: 50px;
        font-size:50px;
        font-weight: bolder;
        
        
    }
/* Seccion banner */
    .banner {
        height: 100vh;
        padding-bottom: env(safe-area-inset-bottom);
    }
    .subtitle-banner{
        font-weight: bold;
        margin-bottom: 3vh;
        text-align: center;
        font-size: 2rem;
        padding: 0%;
    }
    .titulo-banner {
        font-size: 2rem; 
        left: 0%; 
        transform: translateY(15vh); 
        margin-top: 8vh;
        width: 50vw; 
        top: -10vh; 
    }
    .button-contact {
        position: absolute;
        
        margin: auto;
        border-radius: 100px;
        width: 70vw;  
        left: 50%; /* Centrar horizontalmente */
        transform: translateX(-50%) translateY(70vh);
        font-size: 1.5rem;
        background-color:rgb(255, 255, 255,0.7);
        font-family: 'Poppins', sans-serif;
        
    }
    /* Seccion about */
    #about{
        height: auto;
    }
    .about-title {
        font-size: 1.9rem;
        
    }
    .first-text{
        font-size: 1rem;
    }
    .second-text{
        font-size: 1rem;
    }
    /* Seccion services */
    .services-title {
        font-size: 2rem;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    .services-img{
        display: none;
        width: 50vw;
    }
    .services-col{
        width: 60%;
        margin: auto;
        display: none;
    }
    .services-round{
        width: 100%;
        margin: auto;
        margin-top: 5vh;
    }

    .left-text {
        text-align: left;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        width: 40%;
    }
    
    .right-text {
        text-align: right;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        width: 40%;
    }
    .metho-col{
        width: 80vw;
        margin: auto;
    }
    .grid-container{
        gap: 0%;
    }
    /* Seccion skills */
    #skills{
       
        height: auto !important;
        margin-bottom: 5vh;
    }
    /* Seccion clientes */
    #clients{
        height: auto;
    }
    #image-aside{
    position: absolute;
    margin-top: 4vh;
    
    right: 0; 
    width: 40vw;
    }

    #image-sat{
      width: 20vw;
    }
    
}
