@font-face {
    font-family: 'Jomhuria';
    src: url('../font/Jomhuria.ttf') format('truetype');
    /* Ruta relativa al archivo TTF en tu proyecto */
    font-weight: normal;
    font-style: normal;
}

.font-title {
    font-family: 'Jomhuria', sans-serif; 
    letter-spacing: 1px;
    font-size: 52px;
    font-weight: 500;
}

.jomhuria {
    font-family: 'Jomhuria', sans-serif; 
    letter-spacing: 1px;
    font-size: 32px;
    font-weight: 500;
}
